body{

font-family:var(--font-body);

}

h1,h2,h3,h4,h5{

font-family:var(--font-heading);

}

h1{

font-size:72px;

font-weight:700;

}

h2{

font-size:42px;

}

p{

font-size:17px;

line-height:1.8;

}